.Dictionary {
   display: block;
   margin: 0 auto;
}

form {
   display: flex;
   justify-content: center
}

.form-control {
   width: 250px
}

button {
   margin-left: 7px
}

.err-msg {
   margin-top: 20px;
   text-align: center;
   color: red;
   font-size: 12px;
   font-weight: 500;
  
}

.display-none {
display: none
}